
//    Font Family

$primary-font	: 'Poppins', sans-serif;

// Color variations 

$primary-color	: #c576ff;
$title-color	: #222222;
$text-color		: #777;
$bg-color		:#edf6ff;



$blueish-white 	: #edf6ff;
$white			: #fff;
$offwhite		: #fafafa;
$black			: #222;

$gr-color1:rgb(94,133,252);
$gr-color2:rgb(196,109,253);

$text-color2:rgba(#fff,.6);



