{% extends 'base.html' %}
{% load static %}
{% block header %}
<!-- Start page-header Area -->
<section class="page-header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 page-header-left">
                <h2>JOIN US</h2>
                <p>
                    Are you interested in joining a smart, innovative, entrepreneurial and a fun organization? Let's talk.
                </p>
            </div>
            <div class="col-lg-6 page-header-right">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a> <span class="lnr lnr-arrow-right"></span></li>
                    <li><a href="{% url 'careers' %}">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<!-- Start page-content Area -->
<section class="page-content-area">
    <div class="container">
        <h1>Are your looking for a challenge?</h1><br><br>

<p>If you want to be at the forefront of leading-edge technology and like helping clients connect technology with the needs of their business then join our growing team at GRAAHO. We recruit talented people from all disciplines around the globe. Our people are motivated to not only develop great products but also focused on delivering the most value to our customers. We always have openings for qualified, exceptional individuals with solid experience and demonstrated expertise in software development, consulting, emerging technologies, sales and marketing. Send us your resume at career@graaho.com and we will contact you if an appropriate position becomes available.</p><br><br>

<h3>We are currently recruiting for the following positions</h3><br><br>
        <div class="row">
            <div class="col-lg-12">
                {% for i in myrequirment  %}
                    <ul class="ul-1">
                        <a href="{% url 'cariardetails' i.id %}"><li>
                            {{ i.job_title }}
                        </li></a>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>    
</section>
<!-- End page-content Area -->
 {% endblock %}
