<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.ico">
    <!-- Author Meta -->
    <meta name="author" content="codethemes">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Bravapp - Game app landing HTML5 Template</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">  
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="light-version"> 

    <!-- start Header Area -->
    <header id="header">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div id="logo">
                    <a href="index.html"><img src="img/logo-d.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu align-items-center d-flex">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#feature">Feature</a></li>
                        <li><a href="#screens">Screens</a></li>
                        <li><a href="#price">Price</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#review">Review</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="signup-btn genric-btn"><a class="text-uppercase genric-btn primary" href="#download">Download Now </a></li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->


    <!-- Start slider Area -->
    <section class="slider-area relative" id="home">
        <div class="container">
            <div class="active-slider-carusel">
                <div class="row align-self justify-content-center fullscreen align-items-center item">
                    <div class="col-lg-7 col-md-6 slider-left">
                        <h1>Welcome To The Best
                        Online based Game</h1>
                        <p>
                            The first is a non technical method which requires the use of adware removal software. Download free adware and spyware removal software and use advanced tools to help prevent getting infected.
                        </p>
                        <a class="text-uppercase genric-btn primary" href="#">See Gamer’s Review</a>
                    </div>
                    <div class="col-lg-5 col-md-6 slider-right">
                        <img class="img-fluid mx-auto" src="img/slider-img1.png" alt="">
                    </div>
                </div>
                <div class="row align-self justify-content-center fullscreen align-items-center item">
                    <div class="col-lg-7 col-md-6 slider-left">
                        <h1>The most Creative <br>
                        Theme ever for Gaming</h1>
                        <p>
                            The first is a non technical method which requires the use of adware removal software. Download free adware and spyware removal software and use advanced tools to help prevent getting infected.
                        </p>
                        <a class="text-uppercase genric-btn primary" href="#">See Gamer’s Review</a>
                    </div>
                    <div class="col-lg-5 col-md-6 slider-right">
                        <img class="img-fluid mx-auto" src="img/slider-img2.png" alt="">
                    </div>
                </div>                
            </div>

        </div> <img class="pattern-bg" src="img/light-version/pattern-bg2.png" alt="">    
            <div class="scroll-down">
                <a href="#fature-area"><span></span></a>
            </div>                            
    </section>
    <!-- End slider Area -->
    

    <!-- Start feature Area -->
    <section class="feature-area pt-120" id="feature">
        <div class="container">
            <div class="row justify-content-center home-area-title">
                <div class="col-lg-8">                  
                    <h1 class="text-center">Most Powerful Features</h1>
                    <p class="subs text-center mt-10 mx-auto">
                        There are advances being made in science and technology everyday, and a good example of this is the LCD monitor. LCD monitors have several benefits over the old chunky.
                    </p>                            
                </div>
            </div>              
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <div class="icon">
                            <img class="img-fluid mx-auto" src="img/light-version/f1.png" alt="">
                        </div>
                        <a href="#"><h4>Community</h4></a>
                        <p>
                            Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <div class="icon">
                            <img class="img-fluid mx-auto" src="img/light-version/f2.png" alt="">
                        </div>
                        <a href="#"><h4>For Teams</h4></a>
                        <p>
                            A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve and store.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <div class="icon">
                            <img class="img-fluid mx-auto" src="img/light-version/f3.png" alt="">
                        </div>
                        <a href="#"><h4>Game Studios</h4></a>
                        <p>
                            Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with. It has an iPhone-compatible.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <div class="icon">
                            <img class="img-fluid mx-auto" src="img/light-version/f4.png" alt="">
                        </div>
                        <a href="#"><h4>News & Blog</h4></a>
                        <p>
                            Audio player software is used to play back sound recordings in one of the many formats available for computers today. It can also play back music CDs. There is audio player.
                        </p>
                    </div>
                </div>                                                
            </div>
        </div>    
    </section>
    <!-- End feature Area -->    
 

    <!-- Start screens Area -->
    <section class="screens-area pt-120 pb-120" id="screens">
        <img class="pattern-left" src="img/light-version/pattern-left.png" alt="">             
        <div class="container-fluid">
            <div class="row justify-content-center home-area-title">
                <div class="col-lg-8">
                    <h1 class="text-center">Remarkable Game Screens</h1>
                    <p class="subs text-center mt-10 mx-auto">
                        While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and excitement it provides, others may experience gambling.
                    </p>                            
                </div>
            </div>               
            <div class="row align-items-center screen-one justify-content-end pt-60">
                <div class="col-lg-5 screen-left justify-content-end flex-column">
                    <div class="title flex-row">
                        <h2 class="main-title">Horse Ride Screen</h2>
                        <h2>150 XP</h2>
                        <span class="line"></span>
                    </div>
                    <div class="details-section pt-80">
                        <ul>
                            <li class="d-flex flex-row align-items-center">
                                <i class="ti-download"></i> <p><a href="#">Download Wallpaper</a></p>
                            </li>
                            <li class="d-flex flex-row align-items-center">
                                <i class="ti-video-camera"></i> <p><a class="play-btn" href="http://www.youtube.com/watch?v=ARA0AxrnHdM">Watch Video Tutorial</a></p>
                            </li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 screen-right justify-content-end">
                    <img class="img-fluid" src="img/screen1-l.png" alt="">
                </div>
            </div>
            <div class="row align-items-center screen-two justify-content-start">
                <div class="col-lg-7 flex-md-last screen-left  justify-content-end">
                    <img class="img-fluid" src="img/screen2-l.png" alt="">
                </div>                
                <div class="col-lg-5 screen-right justify-content-start d-flex flex-column">
                    <div class="title flex-row">
                        <h2 class="main-title">Muggle Fighting</h2>
                        <h2>250 XP</h2>
                        <span class="line"></span>
                    </div>
                    <div class="details-section pt-80">
                        <ul>
                            <li class="d-flex flex-row align-items-center">
                                <i class="ti-download"></i> <p><a href="#">Download Wallpaper</a></p>
                            </li>
                            <li class="d-flex flex-row align-items-center">
                                <i class="ti-video-camera"></i> <p><a class="play-btn" href="http://www.youtube.com/watch?v=ARA0AxrnHdM">Watch Video Tutorial</a></p>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>            
        </div>    
    </section>
    <!-- End screens Area -->

    <!-- Start info Area -->
    <section class="info-area section-gap">
        <img class="pattern-bg" src="img/light-version/pattern-bg2.png" alt="">                  
        <img class="pattern-right" src="img/light-version/pattern-right.png" alt="">        
        <div class="container">
            <div class="row justify-content-center home-area-title">
                <div class="col-lg-12">
                    <h1 class="text-center">Surprisingly good that Makes us stand out</h1>
                    <p class="subs text-center mt-10 mx-auto">
                        Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established itself as creating a solid product with a stellar reputation.
                    </p>  
                    <a class="text-uppercase genric-btn primary mt-20" href="#">Download For Desktop</a>
                    <div class="info-img mt-100">
                        <img class="img-fluid mx-auto" src="img/info-img.png" alt="">                  
                    </div>          
                </div>
            </div>              
        </div>    
    </section>
    <!-- End info Area -->


    <!-- Start video Area -->
    <section class="video-area pt-120">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12">
                    <div class="about-video-right justify-content-center align-items-center d-flex relative">
                        <div class="overlay overlay-bg"></div>
                        <a class="play-btn" href="http://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play-btn.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <!-- End video Area -->

    <!-- Start price Area -->
    <section class="price-area section-gap" id="price">
        <img class="pattern-left" src="img/light-version/pattern-left.png" alt="">             
        <div class="container">
            <div class="row justify-content-center home-area-title">
                <div class="col-lg-8">
                    <h1 class="text-white text-center">Choose Your Best Price</h1>
                    <p class="text-center mt-10 mx-auto">
                        LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology.
                    </p>                            
                </div>
            </div>                     
            <div class="row mt-50">
                <div class="col-lg-4">
                    <div class="single-price">
                        <div class="price-top price-top-1 relative">
                            <div class="overlay overlay-bg"></div> 
                            <h4>Standard User</h4>
                        </div>
                        <div class="price-middle">
                            <h1>£9.99</h1>               
                        </div>
                        <div class="price-bottom">
                            <ul>
                                <li>Origin Download</li>
                                <li>PS4 Download</li>
                                <li>XBOX Download</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-price">
                        <div class="price-top price-top-2 relative">
                            <div class="overlay overlay-bg"></div> 
                            <h4>Deluxe User</h4>
                        </div>
                        <div class="price-middle">
                            <h1>£13.99</h1>               
                        </div>
                        <div class="price-bottom">
                            <ul>
                                <li>Origin Download</li>
                                <li>PS4 Download</li>
                                <li>XBOX Download</li>
                            </ul>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-4">
                    <div class="single-price">
                        <div class="price-top price-top-3 relative">
                            <div class="overlay overlay-bg"></div> 
                            <h4>Platinum User</h4>
                        </div>
                        <div class="price-middle">
                            <h1>£19.99</h1>               
                        </div>
                        <div class="price-bottom">
                            <ul>
                                <li>Origin Download</li>
                                <li>PS4 Download</li>
                                <li>XBOX Download</li>
                            </ul>
                        </div>
                    </div>
                </div>                                                
            </div>
        </div>    
    </section>
    <!-- End price Area -->    

    <!-- Start team Area -->
    <section class="team-area section-gap" id="team">
        <img class="pattern-bg" src="img/light-version/pattern-bg3.png" alt="">             
        <div class="container">
            <div class="row justify-content-center home-area-title">
                <div class="col-lg-8">
                    <h1 class="text-white text-center">Amazing Team Members</h1>
                    <p class="text-center mt-10 mx-auto">
                        LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology.
                    </p>                            
                </div>
            </div>                       
            <div class="row mt-50">
                <div class="col-lg-4">
                    <div class="single-team">
                        <div class="member-img">
                            <img class="img-fluid mx-auto" src="img/t1.png" alt="">
                        </div>
                        <div class="details">
                            <h4>Gilbert Campbell</h4>
                            <p>iOS Game Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-team">
                        <div class="member-img">
                            <img class="img-fluid mx-auto" src="img/t2.png" alt="">
                        </div>
                        <div class="details">
                            <h4>Travor James</h4>
                            <p>Android Game Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-team">
                        <div class="member-img">
                            <img class="img-fluid mx-auto" src="img/t3.png" alt="">
                        </div>
                        <div class="details">
                            <h4>Alice McDaniel</h4>
                            <p>Cross Platform Game Designer</p>
                        </div>
                    </div>
                </div>                                                
            </div>
        </div>    
    </section>
    <!-- End team Area -->

    <!-- Start game-review Area -->
    <section class="game-review-area pt-120" id="review">
        <div class="container">
            <div class="row justify-content-center home-area-title">
                <div class="col-lg-8">
                    <h1 class="text-white text-center">Reviews from Gamers</h1>
                    <p class="text-center mt-10 mx-auto">
                        Most people who work in an office environment, buy computer products, or have a computer at home have had the “fun” experience of dealing with technical support.
                    </p>                            
                </div>
            </div>                    
            <div class="row">
                <div class="active-review-carusel pt-40">
                    <div class="single-review">
                        <h4>Cody Hines</h4>
                        <p>
                            Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware.
                        </p>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>                                
                        </div>                                  
                    </div>
                    <div class="single-review">
                        <h4>Chad Herrera</h4>
                        <p>
                            Do you want to download free song for ipod? If so, reading this article could save you from getting in to a lot of trouble!.
                        </p>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>                                
                        </div>                                  
                    </div>
                    <div class="single-review">
                        <h4>Andre Gonzalez</h4>
                        <p>
                            It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game.
                        </p>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>                                
                        </div>                                  
                    </div>                                                        
                </div>
            </div>
        </div>    
    </section>
    <!-- End game-review Area -->

    <!-- Start call-to-action Area -->
    <section class="call-to-action-area pt-120" id="download">            
        <div class="container-fluid">
            <div class="call-to-action-wrap section-gap">
                <div class="row justify-content-center home-area-title">
                    <div class="col-lg-12">
                        <h1 class="text-white text-center">Download For Smartphones</h1>
                        <p class="text-white text-center mt-30 mx-auto">
                            If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch movies-it has that nice big screen, and the sound quality is surprisingly good too. Now imagine.
                        </p>                            
                    </div>
                </div>
                <div class="row justify-content-center d-flex"> 
                    <div class="download-button d-flex flex-row justify-content-center mt-30">      
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on App Store
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="#">
                                    <p>
                                        <span>Available</span> <br>
                                        on Play Store
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>                      
                </div>                        
            </div>
        </div>  
    </section>
    <!-- End call-to-action Area -->

    <!-- Start home-contact Area -->
    <section class="home-contact-area section-gap" id="contact">
        <div class="container">
            <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8 home-area-title">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Keep in Touch with us</h1>
                    <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology.</p>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-4 d-flex flex-column address-wrap">
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <i class="ti-map-alt"></i>
                        </div>
                        <div class="contact-details">
                            <h5>Binghamton, New York</h5>
                            <p>4343 Hinkle Deegan Lake Road </p>
                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <div class="contact-details">
                            <h5 class="phn">+1-202-555-0134</h5>
                            <p>Mon to Fri 9am to 6 pm</p>
                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                             <i class="ti-email"></i>
                        </div>
                        <div class="contact-details">
                            <h5>email@website.com</h5>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>                                                      
                </div>
                <div class="col-lg-8">
                    <form id="myForm" action="mail.php" method="post" class="form-area contact-form text-right">
                        <div class="row">   
                            <div class="col-lg-6 form-group">
                                <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                            
                                <input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

                                <input name="sub" placeholder="Enter subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
                            </div>
                            <div class="col-lg-6 form-group">
                                <textarea class="common-textarea form-control" name="message" placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required=""></textarea>               
                            </div>
                            <div class="col-lg-12">
                                <button class="contact-btn genric-btn primary align-items-center text-uppercase" style="float: right;">Send Message<span class="lnr lnr-arrow-right"></span></button>   
                                <div class="alert-msg" style="text-align: left;"></div>                        
                            </div>
                        </div>
                    </form> 
                </div>            
            </div>
        </div>    
    </section>
    <!-- End home-contact Area -->

    <!-- start footer Area -->      
    <footer class="footer-area">
        <img class="pattern-right" src="img/light-version/pattern-right.png" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>About Us</h4>
                        <p>
                            If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch movies-it has that nice big screen, and the sound quality is surprisingly good too. Now imagine if you knew how to download.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Features</h4>
                        <ul class="menu-list">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>  
                <div class="col-lg-2  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Resources</h4>
                        <ul class="menu-list">
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Experts</a></li>
                            <li><a href="#">Agencies</a></li>
                        </ul>
                    </div>
                </div>                                              
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>You can trust us. we only send  offers, not a single spam.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">
                              <form class="navbar-form" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="input-group add-on align-items-center d-flex">
                                    <input class="form-control" name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="" type="email">
                                  <div class="input-group-btn">
                                    <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                                  </div>
                                </div>
                                  <div class="info mt-20"></div>                                        
                              </form>
                        </div>
                    </div>
                </div>                      
            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-6 col-md-12">Copyright © 2018 All rights reserved to <a href="https://themeforest.net/user/codethemes/portfolio">Code Themes</a></p>
                <div class="footer-social col-lg-6 col-md-12">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>   
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>  
    <script src="js/easing.min.js"></script>         
    <script src="js/easing.min.js"></script>     
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.tabs.min.js"></script>
    <script src="js/mn-accordion.js"></script>    
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
