{% extends 'dashbord-base.html' %}
{% load static %}
{% block content %}
<!-- Start page-content Area -->
<section class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <form action="" method="post">
                    {% csrf_token %}
                    {{ myfrom.media }}
                    {{ myfrom.as_p }}
                <button type="submit">Submit</button>
               </form>
            </div>
        </div>
    </div>
</section>
<!-- End page-content Area -->
 {% endblock %}
{% block edit %}

<!-- Start table-variation Area -->
<!-- Start table-variation Area -->
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-30 table-left">
                <table class="table table-striped">
                    <tbody>
                        {% for i in myrequirment %}
                             <tr>
                                <th> <input type="checkbox" name="name" value="value"></th>
                                <td>{{ i.job_title }}</td>
                                <td><a href="{% url 'requermerntdelete' pid=i.id %}">Delete</a>||<a href="{% url 'requermerntUpdate' pid=i.id %}">Edite</a></td>
                             </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</section>

{% endblock %}

